.App {
  display: flex;
  padding: 1.5rem;
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfac, #79e3f3);
  z-index: 10;
}

.App .left__screen {
  flex: 0.8;
  padding: 0 1.5rem 0 1.5rem;
}

.App .right__screen {
  flex: 0.2;
}

.circle1,
.circle2,
.circle3 {
  border-radius: 50%;
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );

  position: absolute;
}

.circle1 {
  height: 9rem;
  width: 9rem;
  top: 1%;
  left: 22%;
  z-index: 1;
}

.circle2 {
  height: 6rem;
  width: 6rem;
  bottom: 0.2%;
  left: 38%;
  z-index: 1;
}

.circle3 {
  height: 10rem;
  width: 10rem;
  bottom: 50%;
  right: 1%;
  z-index: 1;
}

@media (max-width: 1400px) {
  .App {
    flex-direction: column;
  }
}
