.NavigationComponent {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
}
.NavigationComponent .main__title {
  flex: 0.4;
}

.NavigationComponent .main__title h1 {
  font-weight: 800;
  opacity: 0.65;
}

.NavigationComponent .navbar__search {
  flex: 0.6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NavigationComponent .navbar__search h2 {
  font-weight: 800;
  opacity: 0.65;
}

.NavigationComponent .navbar__search form {
  width: 100%;
}

.NavigationComponent .navbar__search form select {
  outline: none;
  border: none;
  width: 95%;
  padding: 0.8rem 0.7rem 0.8rem 0.7rem;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.7)
  );
  border-radius: 0.4rem;
}

@media (max-width: 690px) {
  .NavigationComponent .main__title h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 580px) {
  .NavigationComponent .main__title h1 {
    font-size: 1rem;
  }
}
